/docs/_build/
results
.snakemake/
.snakemake
.snakemake_timestamp
/dist/
.DS_Store
.idea/
.ipynb_checkpoints/
__pycache__/
scratch/
out/
.env
*.sqlite
.Rproj.user/
.Rhistory
.RData
.coverage
.coverage.*
